html {
    font-family: 'Lucida Sans Unicode';
}

body {
    margin: 10px auto;
    width: 900px;
    text-align: justify;
    font-size: 14px;

}

h1 {

    letter-spacing: 4pt;
    text-align: center;
}
h3 {
    color: rgb(71, 199, 33);
    border-bottom: solid;
    border-color: rgb(211, 211, 211);
    border-width: 2px;
    letter-spacing: 1pt;
}

h4 {
    color: rgb(184, 105, 32);
    letter-spacing: 1pt;
}
div.contenido {

    padding: 10px 15px;
    /*espacio desde el borde al texto*/
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 2px;
    display: block;
    margin-left: 120px;

}

div.menu {
    list-style-type: none;
    float: left;
    display: block;

}
